In [47]:
## Import dependencies

import requests
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time
from scipy.stats import linregress
import csv
from api_keys import BLS_API_KEY

## Define my output file
output_data_file = "BLS_Data/unemployment_monthly_2018_to_2020.csv"

In [3]:
## Calling BLS API
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
apiKEY = BLS_API_KEY
seriesName = "LASST420000000000003"
params = {"seriesid" : seriesName, "startyear" : 2018, "endyear" : 2020, "registrationkey" : apiKEY}
BLSData = requests.post(url, data=params)
BLSData

In [43]:
## Setting the output from my loop later to turn into a data frame to write to a .csv
year = []
month = []
monthNumber = []
unemploymentRate = []

In [44]:
## Converting my API data into a JSON
BLSJSON = BLSData.json()
## Getting just the data I need
BLSJSONDATALIST = BLSJSON["Results"]["series"][0]["data"]

## 12 months per year over 3 years is 36 months. The data is monthly data so we run the loop 36 times to get all the data
for data in range(0, 36):
    year.append(BLSJSONDATALIST[data]["year"])
    monthNumber.append(BLSJSONDATALIST[data]["period"])
    month.append(BLSJSONDATALIST[data]["periodName"])
    unemploymentRate.append(BLSJSONDATALIST[data]["value"])

In [45]:
## Finally creating my dataframe for unemployment rate
BLS_DF = pd.DataFrame({"Year" : year,
                      "Month" : month,
                      "Month #" : monthNumber,
                      "Unemployment Rate" : unemploymentRate})
BLS_DF

    Year      Month Month # Unemployment Rate
0   2020   December     M12               7.1
1   2020   November     M11               7.1
2   2020    October     M10               7.0
3   2020  September     M09               7.1
4   2020     August     M08              10.2
5   2020       July     M07              13.0
6   2020       June     M06              13.3
7   2020        May     M05              13.5
8   2020      April     M04              16.2
9   2020      March     M03               5.1
10  2020   February     M02               5.0
11  2020    January     M01               4.8
12  2019   December     M12               4.7
13  2019   November     M11               4.7
14  2019    October     M10               4.6
15  2019  September     M09               4.6
16  2019     August     M08               4.5
17  2019       July     M07               4.4
18  2019       June     M06               4.4
19  2019        May     M05               4.3
20  2019      April     M04               4.3
21  2019      March     M03               4.3
22  2019   February     M02               4.3
23  2019    January     M01               4.3
24  2018   December     M12               4.4
25  2018   November     M11               4.4
26  2018    October     M10               4.4
27  2018  September     M09               4.4
28  2018     August     M08               4.4
29  2018       July     M07               4.4
30  2018       June     M06               4.4
31  2018        May     M05               4.4
32  2018      April     M04               4.5
33  2018      March     M03               4.6
34  2018   February     M02               4.7
35  2018    January     M01               4.8

In [48]:
## Finally I export as a .csv
BLS_DF.to_csv(output_data_file, index = False)