In [2]:
#import dependencies 
import pandas as pd

In [3]:
#read in crash data csv files

statewide_crash_df = pd.read_csv("Crash_Data/Crash_2020_Statewide.csv")

In [4]:
statewide_crash_df.head()

,ARRIVAL_TM,AUTOMOBILE_COUNT,BELTED_DEATH_COUNT,BELTED_SUSP_SERIOUS_INJ_COUNT,BICYCLE_COUNT,BICYCLE_DEATH_COUNT,BICYCLE_SUSP_SERIOUS_INJ_COUNT,BUS_COUNT,CHLDPAS_DEATH_COUNT,CHLDPAS_SUSP_SERIOUS_INJ_COUNT,...,WZ_LN_CLOSURE,WZ_MOVING,WZ_OTHER,WZ_SHLDER_MDN,ROADWAY_CLEARED,WEATHER1,WEATHER2,WZ_WORKERS_INJ_KILLED,SECONDARY_CRASH,INTERSECTION_RELATED
0,1619.0,2,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,30.0,03,03,NaN,NaN,NaN
1,113.0,1,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,03,,NaN,NaN,NaN
2,33.0,2,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,03,03,NaN,NaN,NaN
3,105.0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,125.0,10,10,NaN,NaN,NaN
4,5.0,1,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,100.0,03,,NaN,NaN,NaN

In [6]:
flag_crash_df = pd.read_csv("Crash_Data/FLAG_2020_Statewide.csv")
flag_crash_df.head()

,AGGRESSIVE_DRIVING,ALCOHOL_RELATED,ANGLE_CRASH,ATV,BACKUP_CONGESTION,BACKUP_NONRECURRING,BACKUP_PRIOR,BICYCLE,CELL_PHONE,COMM_VEHICLE,...,UNSIGNALIZED_INT,URBAN,VEHICLE_FAILURE,VEHICLE_TOWED,WET_ROAD,WORK_ZONE,CHILD_PASSENGER,MATURE_DRIVER,YOUNG_DRIVER,RAMP
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,1,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [8]:
person_crash_df = pd.read_csv("Crash_Data/PERSON_2020_Statewide.csv")

In [9]:
person_crash_df.head()

,AGE,AIRBAG1,AIRBAG2,AIRBAG3,AIRBAG4,CLOTHING_TYPE,CRN,DRUG_RESULT_CD1,DRUG_RESULT_CD2,DRUG_RESULT_CD3,...,PED_LOCATION,PED_SIGNAL,PERSON_NUM,PERSON_TYPE,RESTRAINT_HELMET,AIRBAG_PADS,SEAT_POSITION,SEX,TRANSPORTED,UNIT_NUM
0,53,00,NaN,NaN,NaN,,2020008647,NaN,NaN,NaN,...,,,1,1.0,3.0,9.0,1,M,N,1
1,45,02,1.0,NaN,NaN,,2020055513,NaN,NaN,NaN,...,,,1,1.0,3.0,8.0,1,F,N,1
2,17,97,97.0,97.0,97.0,,2020094676,NaN,NaN,NaN,...,,,1,1.0,3.0,19.0,1,M,,1
3,26,00,NaN,NaN,NaN,,2020100502,NaN,NaN,NaN,...,,,2,1.0,3.0,9.0,1,M,N,2
4,42,02,NaN,NaN,NaN,,2020068888,NaN,NaN,NaN,...,,,1,1.0,3.0,8.0,1,M,N,1

In [25]:
statewide_cleaned_df = statewide_crash_df[["CRN", "COUNTY", "CRASH_MONTH", "DEC_LAT", "DEC_LONG", "FATAL_COUNT"]]

In [26]:
statewide_cleaned_df.head()

          CRN  COUNTY  CRASH_MONTH  DEC_LAT  DEC_LONG  FATAL_COUNT
0  2019133973      41            5  41.2517  -77.0475            0
1  2020000003       6            1  40.3485  -75.9119            0
2  2020000004       6            1  40.3329  -75.8896            0
3  2020000005       2            1  40.4430  -80.0392            0
4  2020000006      39            1  40.5393  -75.4889            0

In [27]:
flag_cleaned_df = flag_crash_df[["CRN", "ALCOHOL_RELATED", "DRINKING_DRIVER", "UNDERAGE_DRNK_DRV"]]

In [28]:
flag_cleaned_df.head()

          CRN  ALCOHOL_RELATED  DRINKING_DRIVER  UNDERAGE_DRNK_DRV
0  2020077253                0                0                  0
1  2020077257                0                0                  0
2  2020077263                0                0                  0
3  2020080639                0                0                  0
4  2020080864                0                0                  0

In [30]:
merged_crash_df = pd.merge(statewide_cleaned_df, flag_cleaned_df, on="CRN",how="outer")

In [32]:
merged_crash_df.head(40)

,CRN,COUNTY,CRASH_MONTH,DEC_LAT,DEC_LONG,FATAL_COUNT,ALCOHOL_RELATED,DRINKING_DRIVER,UNDERAGE_DRNK_DRV
0,2019133973,41,5,41.2517,-77.0475,0,0,0,0
1,2020000003,6,1,40.3485,-75.9119,0,0,0,0
2,2020000004,6,1,40.3329,-75.8896,0,0,0,0
3,2020000005,2,1,40.4430,-80.0392,0,0,0,0
4,2020000006,39,1,40.5393,-75.4889,0,1,1,0
5,2020000012,64,1,40.3889,-79.7306,0,0,0,0
6,2020000013,14,1,40.7812,-77.8521,0,1,1,1
7,2020000014,2,1,40.4806,-79.9423,0,1,1,0
8,2020000016,2,1,40.4426,-80.0297,0,1,1,0
9,2020000019,64,1,40.1392,-79.8424,0,0,0,0
10,2020000020,2,1,40.4640,-79.8341,0,0,0,0
11,2020000021,67,1,39.9836,-75.1601,0,0,0,0
12,2020000023,2,1,40.4408,-80.0068,0,0,0,0
13,2020000028,6,1,40.3384,-75.9217,0,0,0,0
14,2020000031,2,1,40.4695,-79.8770,0,0,0,0
15,2020000032,23,1,39.9421,-75.2686,0,0,0,0
16,2020000034,9,1,40.2173,-74.7816,0,1,1,0
17,2020000036,67,1,39.9532,-75.1950,0,0,0,0
18,2020000038,21,1,40.2405,-76.9266,0,0,0,0
19,2020000040,2,1,40.3850,-79.8627,0,0,0,0
20,2020000041,46,1,40.1294,-75.3283,0,0,0,0
21,2020000044,2,1,40.2190,-79.8449,0,1,1,0
22,2020000046,2,1,40.4086,-79.7739,0,0,0,0
23,2020000047,9,1,40.4215,-75.3460,0,0,0,0
24,2020000061,64,1,40.3871,-79.7155,0,0,0,0
25,2020000064,67,1,39.9490,-75.2401,0,0,0,0
26,2020000065,67,1,39.9488,-75.2126,0,0,0,0
27,2020000066,67,1,39.9505,-75.2269,0,0,0,0
28,2020000069,2,1,40.3452,-80.1668,0,0,0,0
29,2020000071,2,1,40.3525,-79.8433,0,0,0,0
30,2020000074,2,1,40.3530,-79.8413,0,0,0,0
31,2020000089,7,1,40.5195,-78.3898,0,0,0,0
32,2020000090,42,1,41.9711,-78.5962,0,0,0,0
33,2020000128,51,1,41.3501,-74.7653,0,0,0,0
34,2020000132,23,1,39.8343,-75.3885,0,0,0,0
35,2020000135,64,1,40.6169,-79.6347,0,1,1,1
36,2020000136,15,1,40.0536,-75.4280,0,1,1,0
37,2020000144,46,1,40.2259,-75.3491,0,0,0,0
38,2020000147,6,1,40.3528,-75.9196,0,0,0,0
39,2020000167,28,1,39.9427,-77.6580,0,0,0,0

In [35]:
merged_crash_df["CRN"].count()

104493

In [38]:
no_nulls = merged_crash_df.dropna()

In [39]:
no_nulls["CRN"].count()

104265

In [ ]:
alcohol_related_df = no_nulls