In [1]:
## Importing Dependencies
import pandas as pd

## Gathering input and output filepaths
outputFile = "compiled_sales_2018_to_2020.csv"
DATA20172018 = "Sales_Data_2017_2018.csv"
DATA20182019 = "Sales_Data_2018_2019.csv"
DATA20192020 = "Sales_Data_2019_2020.csv"

In [2]:
## Reading in my csvs
Sales20172018 = pd.read_csv(DATA20172018, encoding='iso-8859-1')
Sales20182019 = pd.read_csv(DATA20182019, encoding='iso-8859-1')
Sales20192020 = pd.read_csv(DATA20192020, encoding='iso-8859-1')

In [3]:
## Creating my final dataframe to be used later
SalesTotals = pd.DataFrame({"County" : Sales20172018["COUNTY"]})

In [4]:
SalesTotals.set_index("County", inplace = True)

In [5]:
## The .sum function doesn't work as intended when the county names are here as you can't add a string to a float
## So we set the index as the county name to the index so the additions work
Sales20172018.set_index("COUNTY", inplace=True)
Sales20182019.set_index("COUNTY", inplace=True)
Sales20192020.set_index("COUNTY", inplace=True)

In [6]:
## Summing the data for each type of alcohol into a single yearly sum
Sales20172018["2017-2018 Total"] = Sales20172018.sum(axis = 1)
Sales20182019["2018-2019 Total"] = Sales20182019.sum(axis = 1)
Sales20192020["2019-2020 Total"] = Sales20192020.sum(axis = 1)

In [7]:
Sales20172018["2017-2018 Total"]

COUNTY
Adams             5974649.0
Allegheny       287446445.0
Armstrong         4119789.0
Beaver           20662151.0
Bedford           3794119.0
                   ...
Washington       31624485.0
Wayne            12547260.0
Westmoreland     62689517.0
Wyoming           3017967.0
York             60702860.0
Name: 2017-2018 Total, Length: 67, dtype: float64

In [8]:
## Adding those colunms to the final dataframe
SalesTotals["2017-2018 Year Total ($)"] = Sales20172018["2017-2018 Total"]
SalesTotals["2018-2019 Year Total ($)"] = Sales20182019["2018-2019 Total"]
SalesTotals["2019-2020 Year Total ($)"] = Sales20192020["2019-2020 Total"]

In [9]:
## Checking to make sure it works
SalesTotals
## It does!

,2017-2018 Year Total ($),2018-2019 Year Total ($),2019-2020 Year Total ($)
County,,,
Adams,5974649.0,6087119.0,5474672.0
Allegheny,287446445.0,297562217.0,282457996.0
Armstrong,4119789.0,4100004.0,3946644.0
Beaver,20662151.0,21929547.0,21044165.0
Bedford,3794119.0,3777616.0,3624763.0
...,...,...,...
Washington,31624485.0,32219420.0,26798762.0
Wayne,12547260.0,12861710.0,12246352.0
Westmoreland,62689517.0,63286292.0,60414024.0
Wyoming,3017967.0,2920391.0,3026001.0
York,60702860.0,61521893.0,55965004.0

In [10]:
## Writing my dataframe to a .csv to be called and used later
SalesTotals.to_csv(outputFile)