In [1]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#read in csv data on alcohol related crashes in PA in 2019 and 2020
crash_2019_df = pd.read_csv("../Crash_Data/dui_2019_csv")
crash_2020_df = pd.read_csv("../Crash_Data/dui_csv")

In [13]:
crash_2019_df["COUNTY"].fillna(0,inplace=True)

In [14]:

crash_2019_df["COUNTY"] = crash_2019_df["COUNTY"].astype(int)
crash_2019_df.dtypes

CRN                    int64
COUNTY                 int64
CRASH_MONTH          float64
DEC_LAT              float64
DEC_LONG             float64
FATAL_COUNT          float64
ALCOHOL_RELATED      float64
DRINKING_DRIVER      float64
UNDERAGE_DRNK_DRV    float64
COUNTY NAME           object
dtype: object

In [15]:

crash_2019_df.head()

,CRN,COUNTY,CRASH_MONTH,DEC_LAT,DEC_LONG,FATAL_COUNT,ALCOHOL_RELATED,DRINKING_DRIVER,UNDERAGE_DRNK_DRV,COUNTY NAME
0,2020051395,22,8.0,40.2853,-76.7057,0.0,1.0,1.0,0.0,DAUPHIN
1,2020061721,11,7.0,40.4416,-78.8916,0.0,1.0,1.0,0.0,CAMBRIA
2,2019005958,25,1.0,41.8799,-80.2201,0.0,1.0,1.0,0.0,ERIE
3,2019014882,21,1.0,40.1555,-77.1958,1.0,1.0,0.0,0.0,CUMBERLAND
4,2019049811,17,4.0,40.9779,-78.5027,1.0,1.0,1.0,0.0,CLEARFIELD

In [4]:
crash_2020_df.head()

,CRN,COUNTY,CRASH_MONTH,DEC_LAT,DEC_LONG,FATAL_COUNT,ALCOHOL_RELATED,DRINKING_DRIVER,UNDERAGE_DRNK_DRV,COUNTY NAME
0,2020000006,39,1,40.5393,-75.4889,0,1,1,0,LEHIGH
1,2020000013,14,1,40.7812,-77.8521,0,1,1,1,CENTRE
2,2020000014,2,1,40.4806,-79.9423,0,1,1,0,ALLEGHENY
3,2020000016,2,1,40.4426,-80.0297,0,1,1,0,ALLEGHENY
4,2020000034,9,1,40.2173,-74.7816,0,1,1,0,BUCKS

In [5]:
# read in the dropout data to a dataframe
dropouts_df = pd.read_csv("../Dropout_data/Dropouts2019-2020_cleaned.csv")

In [6]:
dropouts_df.head()

,County,AUN,LEA,School Code,School,Oct 1 Enrollment Grades 7-12,Male Dropouts,Female Dropouts,Dropouts,Dropout Rate
0,Adams,112011103.0,Bermudian Springs SD,3.0,Bermudian Springs HS,597,2,3,5,0.84%
1,Adams,112011103.0,Bermudian Springs SD,6921.0,Bermudian Springs MS,323,0,0,0,0.00%
2,Adams,112011603.0,Conewago Valley SD,9999.0,Conewago Valley SD,12,1,0,1,8.33%
3,Adams,112011603.0,Conewago Valley SD,6898.0,New Oxford MS,634,0,0,0,0.00%
4,Adams,112011603.0,Conewago Valley SD,17.0,New Oxford SHS,"1,227",13,10,23,1.87%

In [7]:
alcohol_sales_df = pd.read_csv("../Data Sources/compiled_sales_2018_to_2020.csv")

In [23]:
alcohol_sales_df.head(54)

,County,2017-2018 Year Total ($),2018-2019 Year Total ($),2019-2020 Year Total ($)
0,Adams,5974649.0,6087119.0,5474672.0
1,Allegheny,287446445.0,297562217.0,282457996.0
2,Armstrong,4119789.0,4100004.0,3946644.0
3,Beaver,20662151.0,21929547.0,21044165.0
4,Bedford,3794119.0,3777616.0,3624763.0
5,Berks,56297110.0,57384537.0,51851851.0
6,Blair,15223843.0,15096858.0,14346743.0
7,Bradford,5201759.0,5299059.0,5075052.0
8,Bucks,143318106.0,146406452.0,128985353.0
9,Butler,36578788.0,37536406.0,36502856.0
10,Cambria,14971089.0,15249671.0,14419826.0
11,Cameron,430368.0,454580.0,411126.0
12,Carbon,5000545.0,5409977.0,5169140.0
13,Centre,28117751.0,28066026.0,25146211.0
14,Chester,110586835.0,112305705.0,95471643.0
15,Clarion,3863568.0,3841244.0,3629102.0
16,Clearfield,7759296.0,7895270.0,7738182.0
17,Clinton,2933357.0,3024901.0,2928502.0
18,Columbia,8682342.0,8234057.0,7674476.0
19,Crawford,9215524.0,9287688.0,8934975.0
20,Cumberland,46719726.0,47724350.0,43823371.0
21,Dauphin,48380690.0,48702138.0,43351066.0
22,Delaware,81212402.0,84610276.0,72922254.0
23,Elk,2718583.0,2702272.0,2578526.0
24,Erie,47577609.0,48184222.0,45385712.0
25,Fayette,12167971.0,12687994.0,11775130.0
26,Forest,882156.0,875957.0,899145.0
27,Franklin,13332814.0,13645851.0,12036067.0
28,Fulton,625305.0,685020.0,706399.0
29,Greene,2467373.0,2584272.0,2514398.0
30,Huntingdon,3455590.0,3349313.0,3014529.0
31,Indiana,8738113.0,8515951.0,7762685.0
32,Jefferson,2833550.0,2818387.0,2751040.0
33,Juniata,1149230.0,1127836.0,1126932.0
34,Lackawanna,41629128.0,42057745.0,38428670.0
35,Lancaster,67426229.0,67923854.0,61201138.0
36,Lawrence,9270790.0,9543735.0,9589201.0
37,Lebanon,13619199.0,13567873.0,12509932.0
38,Lehigh,75637256.0,76497687.0,68769359.0
39,Luzerne,49819718.0,50942464.0,46471339.0
40,Lycoming,16694459.0,17284773.0,16416673.0
41,McKean,4458154.0,4369560.0,4073818.0
42,Mercer,14319119.0,14754695.0,14238788.0
43,Mifflin,3456653.0,3503408.0,3141100.0
44,Monroe,34881086.0,35349238.0,32975545.0
45,Montgomery,208600037.0,212777142.0,184319535.0
46,Montour,3146753.0,3185368.0,3271333.0
47,Northampton,45647223.0,46057443.0,40202211.0
48,Northumberland,6226230.0,6263566.0,5881387.0
49,Perry,2148412.0,2036604.0,2071298.0
50,Philadelphia,236818353.0,241305526.0,203173005.0
51,Pike,7815354.0,8087585.0,7360769.0
52,Potter,1321378.0,1389796.0,1299957.0
53,Schuylkill,12688855.0,12783116.0,12056603.0