In [1]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
#read in csv data on alcohol related crashes in PA in 2019 and 2020
crash_2019_df = pd.read_csv("../Crash_Data/dui_2019_csv")
crash_2020_df = pd.read_csv("../Crash_Data/dui_csv")

In [5]:
crash_2019_df.head()

,CRN,COUNTY,CRASH_MONTH,DEC_LAT,DEC_LONG,FATAL_COUNT,ALCOHOL_RELATED,DRINKING_DRIVER,UNDERAGE_DRNK_DRV,COUNTY NAME
0,2020051395,22.0,8.0,40.2853,-76.7057,0.0,1.0,1.0,0.0,DAUPHIN
1,2020061721,11.0,7.0,40.4416,-78.8916,0.0,1.0,1.0,0.0,CAMBRIA
2,2019005958,25.0,1.0,41.8799,-80.2201,0.0,1.0,1.0,0.0,ERIE
3,2019014882,21.0,1.0,40.1555,-77.1958,1.0,1.0,0.0,0.0,CUMBERLAND
4,2019049811,17.0,4.0,40.9779,-78.5027,1.0,1.0,1.0,0.0,CLEARFIELD

In [6]:
crash_2020_df.head()

,CRN,COUNTY,CRASH_MONTH,DEC_LAT,DEC_LONG,FATAL_COUNT,ALCOHOL_RELATED,DRINKING_DRIVER,UNDERAGE_DRNK_DRV,COUNTY NAME
0,2020000006,39,1,40.5393,-75.4889,0,1,1,0,LEHIGH
1,2020000013,14,1,40.7812,-77.8521,0,1,1,1,CENTRE
2,2020000014,2,1,40.4806,-79.9423,0,1,1,0,ALLEGHENY
3,2020000016,2,1,40.4426,-80.0297,0,1,1,0,ALLEGHENY
4,2020000034,9,1,40.2173,-74.7816,0,1,1,0,BUCKS