In [1]:
import gmaps
import pandas as pd
import os
from api_keys import g_key
import requests
import gmaps

locationpath = os.path.join("..", "Covid-19 Data", "Covid-19_Monthly_Data")

In [2]:
LocationDF = pd.read_csv(locationpath)

In [4]:
LocationDF

      Unnamed: 0 County     Date  Monthly Cases  Longitude   Latitude
0              0  Adams  2020-03           13.0 -79.762866  41.403413
1              1  Adams  2020-04          130.0 -76.223324  40.707512
2              2  Adams  2020-05          113.0 -76.779606  40.419746
3              3  Adams  2020-06           93.0 -76.779606  40.419746
4              4  Adams  2020-07          132.0 -76.779606  40.419746
...          ...    ...      ...            ...        ...        ...
1151        1151   York  2021-03         3823.0 -79.762866  41.403413
1152        1152   York  2021-04         4675.0 -78.491165  40.007375
1153        1153   York  2021-05         2123.0 -79.762866  41.403413
1154        1154   York  2021-06          429.0 -75.340836  41.060918
1155        1155   York  2021-07          413.0 -79.762866  41.403413

[1156 rows x 6 columns]

In [6]:
lat = []
lon = []
counties = []
for index, row in LocationDF.iterrows():
    if row["County"] != "Philadelphia":
        if row["County"] not in counties:
            lat.append(row["Latitude"])
            lon.append(row["Longitude"])
            counties.append(row["County"])

In [7]:
locationsDF = pd.DataFrame({"County" : counties, "Latitude" : lat, "Longitude" : lon})
locationsDF

          County   Latitude  Longitude
0          Adams  41.403413 -79.762866
1      Allegheny  40.707512 -76.223324
2      Armstrong  39.346129 -75.167756
3         Beaver  40.419746 -76.779606
4        Bedford  41.060918 -75.340836
..           ...        ...        ...
62    Washington  41.403413 -79.762866
63         Wayne  41.403413 -79.762866
64  Westmoreland  40.964731 -77.064158
65       Wyoming  40.419746 -76.779606
66          York  40.910832 -79.917118

[67 rows x 3 columns]

In [10]:
locations = locationsDF[["Latitude", "Longitude"]]
countyFigure = gmaps.figure()
countyMarkers = gmaps.marker_layer(locations)

countyFigure.add_layer(countyMarkers)
countyFigure

Figure(layout=FigureLayout(height='420px'))